/* Basic styles for body and content */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 1500px;
  }
  /* div {
    border :1px solid black;
  } */
  #names {
    font-size: clamp(30px, 8vw, 50px);
    color:rgb(238, 238, 238);
    text-shadow: 0 0 5px darkblue;
    

  }
  #address1, #numbers, #emails {
    text-shadow: 0 0 2px darkblue;
  }
  #positions{
    transform: translateY(clamp(-20px, 8vh, -10px));
    text-shadow: 0 0 3px darkblue;
  }
  