/* Basic styles for body and content */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c7d0eb,#1357de60, #1357dec0); /* Gradient from left to right */
    height: 100vh;
    display: flex;
  }
  
  .sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: -180px; /* Initially hidden off-screen */
    background-color: #000000c6;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 0px 8px 8px 15px;
    text-decoration: none;
    font-size: 100%;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #2807e6;
  }
  
  .sidenav .close-btn {
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
    margin-left: 50px;
    padding-top: 20px
  }
  
  /* Style for main content */
  .main-content {
    transition: margin-left 0.3s ease; /* Smooth transition for content */
    padding: 20px;
    margin-left: 0px; /* No margin by default */
  }

  #mySvg {
    position: relative;
    border: 1px solid black;
    /* transform: translatey(-100px); */
  }
  .arrows {
    stroke-width: 1;
    stroke: rgb(13, 136, 147);
    fill: none;
    opacity: .5;
    transition: stroke 0.3s, transform 0.3s;
  }
  .arrows:hover {
    stroke: rgb(4, 24, 26);
    opacity: 1;
  }

  @keyframes jumpUp {
    0% {
      transform: translateY(0); /* Initial position */
    }
    50% {
      transform: translateY(-5px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  
  @keyframes jumpDown {
    0% {
      transform: translateY(0); /* Initial position */
    }
    50% {
      transform: translateY(5px); /* Move down */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  #myImage {
    position: absolute;
    transition: opacity 1s ease-in-out;  /* Smooth fade transition */
  }

  /* Hide the image initially (it will fade in later) */
  #myImage.hidden {
    opacity: 0;
  }
  #myPath3 {
    animation: jumpUp 2s ease-in-out infinite; /* Top path moves up */
  }
  #myPath4 {
    animation: jumpUp 1s ease-in-out infinite; /* Top path moves up */
  }
  #myPath5 {
    animation: jumpUp 2s ease-in-out infinite; /* Top path moves up */
  }
  #myPath6 {
    animation: jumpUp 1s ease-in-out infinite; /* Top path moves up */
  }
  
  /* #myPath2 {
    animation: vibrate 1s ease-in-out infinite; Middle path vibrates
  } */
  
  #myPath1 {
    animation: jumpDown 2s ease-in-out infinite; /* Bottom path moves down */
  }

  @media screen and (max-width: 600px) {
    .sidenav {
      width: 100%;
      left: -100%; /* Initially hide the side nav on mobile */
    }
  
    .main-content {
      margin-left: 0;
    }
  }
  